<div class="widget">
  <ul class="entry">
<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=1&ptype=0&speed=0&skin=2&isTitle=0&noborder=0&isWeibo=0&isFans=1&uid=1951291707&verifier=bbf78df1&dpc=1"></iframe>
  </ul>
</div>
